<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Money_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <applicationSettings>
    <Money_Tracker.Properties.Settings>
      <setting name="User_Cols" serializeAs="String">
        <value>Id|Name|Email|Password|Type|Country</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog=MoneyManagenent;Integrated Security=True</value>
      </setting>
      <setting name="InsertUser" serializeAs="String">
        <value>INSERT INTO [dbo].[User]
           ([Name]
           ,[Email]
           ,[Password]
           ,[Type]
           ,[Country])
     VALUES
           (Name=@Name
           ,Email=@Email
           ,Password=@Password
           ,Type=@Type
           ,Country=@Country)</value>
      </setting>
      <setting name="Category_Cols" serializeAs="String">
        <value>Id|Name|Type</value>
      </setting>
      <setting name="Category_INSERT" serializeAs="String">
        <value>INSERT INTO [Category] VALUES ([Name],[Type])</value>
      </setting>
      <setting name="Category_DELETE" serializeAs="String">
        <value>DELETE FROM [Category] WHERE Id=@Id</value>
      </setting>
      <setting name="Expense_Cols" serializeAs="String">
        <value>User_Id|Expense|Date|Category_Id</value>
      </setting>
      <setting name="Expense_INSERT" serializeAs="String">
        <value>INSERT INTO [Expense] VALUES ([User_Id],[Expense],[Date],[Category_Id])</value>
      </setting>
      <setting name="Income_Cols" serializeAs="String">
        <value>User_Id|Expense|Date|Category_Id</value>
      </setting>
      <setting name="Income_INSERT" serializeAs="String">
        <value>INSERT INTO [Income] VALUES ([User_Id],[Expense],[Date],[Category_Id])</value>
      </setting>
    </Money_Tracker.Properties.Settings>
  </applicationSettings>
</configuration>